VITE_FIREBASE_API_KEY=AIzaSyAWRnGAHTww-4QCLkv40l8Wmn1lCxvO-hE
VITE_FIREBASE_AUTH_DOMAIN=crick-73a60.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=crick-73a60
VITE_FIREBASE_STORAGE_BUCKET=crick-73a60.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=797757568453
VITE_FIREBASE_APP_ID=y1:797757568453:web:c4978d65ef8c5734c947ac

VITE_OPENAI_API_KEY=AIzaSyAIKiCqC7XZ6Uyl7Vr-HqfgswHGM8NEP40